extends layout

block content
  h2 Browse Doctors
  ul.docs
    li
      h3 Tywin Lannister
      p Specialty: Psychiatry
      p Location: Washington, DC 12345
      p
        a(href='/doctors/details/1') &gt; Details
    li
      h3 Petyr Baelish
      p Specialty: Pediatrics
      p Location: Chicago, IL 22222
      p
        a(href='/doctors/details/1') &gt; Details
    li
      h3 Jorah Mormont
      p Specialty: Endocrinology
      p Location: Seattle, WA 99999
      p
        a(href='/doctors/details/1') &gt; Details
