h2 Categories :
ul
	li
		a(href='doctors/category/1') General
	li
		a(href='doctors/category/1') Surgery
	li
		a(href='doctors/category/1') Endocrinology
	li
		a(href='doctors/category/1') Orthopedics
	li
		a(href='doctors/category/1') Pediatrics
	li
		a(href='doctors/category/1') Psychiatry
	li
		a(href='doctors/category/1') Other

