extends layout

block content
	.jumbotron
		.container
			h1 How may we help you?
			p Phasellus quis sem justo. Curabitur a metus ut risus sollicitudin volutpat nec eu tortor. Nunc quis ultricies odio.
			a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Sed magna sem, fringilla consectetur nisi vel, varius eleifend tellus. Nam pharetra vestibulum pulvinar. Duis tempor varius augue, a imperdi.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p Vivamus vel lobortis nunc, in imperdiet leo. Morbi accumsan ac lacus ac tristique. Duis et erat elit. Nullam in nulla ac libero accumsan.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Contact Us
				p Quisque enim turpis, tristique eu quam a, efficitur finibus sem. Donec mattis nisl vitae turpis laoreet, at maximus nisl sagittis vel sem vina.
				a.btn.btn-default(href='#') View Details


  
